* {
  margin: 0px;
}

body {
  background-color: aliceblue;
  margin: 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.box {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 40px;
  height: 40px;
  margin: 0;
  float: left;
}

.txt {
  color: blue;
}

#box-container {
  width: 440px;
  height: 440px;
  border-color: black;
  border-width: 0px;
  border-style: solid;
}

.box:hover {
  background-color: rgb(137, 137, 137);
}

#startingBox-txt {
  display: none;
}

#endingBox-txt {
  display: none;
}

#wallBox-txt {
  display: none;
}

#start1 {
  display: none;
}

#end1 {
  display: none;
}

#wall1 {
  display: none;
}

#start2 {
  display: none;
}

#end2 {
  display: none;
}

#wall2 {
  display: none;
}

#submit-bfs {
  display: none;
}

#submit-dfs {
  display: none;
}

.path {
  background-color: yellow; /* Highlight the path in yellow */
}

.start {
  background-color: red;
}

.end {
  background-color: green;
}

.wall {
  background-color: darkgrey;
}