<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css') }}"
    />
    <title>Breath First Search Display</title>
  </head>
  <body>
    <div class="navbar">
      <div class="nav-txt">Pathfinding Visualizer</div>
      <div class="info">
        <img
          class="img"
          src="https://img.icons8.com/?size=100&id=80585&format=png&color=000000"
          alt="info"
        />
      </div>
      <div class="info-box" style="height: 160px">
        Breath first search is an unweighted search algorithm that guarantees
        the shortest path. Although it is less time efficient than Depth First
        Search, as more nodes are explored.
      </div>
    </div>
    <div id="intro-txt">Displaying Breath First Search</div>

    <div class="main-container">
      <div class="info-panel">
        <div class="search-path">
          {% if 'No solution' in path %} NO SOLUTION {% else %} Breath first
          search path: {{ path }} {% endif %}
        </div>
      </div>
      <div id="box-container">
        {% for row in grid %} {% for pos in row %}
        <div
          class="box {% if pos in path %} path {% endif %} {% if pos in wall %} wall {% endif %} {% if pos == start %} start {% endif %} {% if pos == end %} end {% endif %}"
          id="{{ pos }}"
        ></div>
        {% endfor %} {% endfor %}
      </div>
    </div>
    <div class="buttons">
      <a href="javascript:history.back()"
        ><button class="btn">Go back</button></a
      >
    </div>
  </body>
</html>
